<html>
<head>
<title>activity_home.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_home.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/gradient&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.udacity.music.HomeActivity&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/navigationBar1&quot;</span><span class="s0"> 
        </span><span class="s1">style=</span><span class="s2">&quot;@style/NavigationStyle&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/gradient&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/lastSong1&quot;</span><span class="s0"> 
            </span><span class="s1">style=</span><span class="s2">&quot;@style/TextWithoutBackground&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;48dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/colorUdacityLogo&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/lastSong2&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;@string/last_songs2&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/colorUdacityLogo&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/lastSong3&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;@string/last_songs3&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/colorUdacityLogo&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/navigationBarlibrary&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/gradient&quot;</span><span class="s0"> 
        </span><span class="s1">android:gravity=</span><span class="s2">&quot;bottom&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/homeXml&quot;</span><span class="s0"> 
            </span><span class="s1">style=</span><span class="s2">&quot;@style/NavigationStyle&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_home_black_24dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;@string/screen_home&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/searchXml&quot;</span><span class="s0"> 
            </span><span class="s1">style=</span><span class="s2">&quot;@style/NavigationStyle&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_search_black_24dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;@string/screen_search&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/libraryXml&quot;</span><span class="s0"> 
            </span><span class="s1">style=</span><span class="s2">&quot;@style/NavigationStyle&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableTop=</span><span class="s2">&quot;@drawable/ic_library_music_black_24dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;@string/screen_library&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
</span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>