<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.music">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/screen_home" />

        <activity
            android:name=".SearchActivity"
            android:label="@string/screen_search"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".LibraryActivity"
            android:label="@string/screen_library"
            android:parentActivityName=".HomeActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".DonationsActivity"
            android:label="@string/screen_donations"
            android:parentActivityName=".HomeActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".PayPalActivity"
            android:label="@string/screen_check_out"
            android:parentActivityName=".HomeActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".ArtistActivity"
            android:label="@string/screen_artists"
            android:parentActivityName=".LibraryActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".GenreActivity"
            android:label="@string/screen_genre"
            android:parentActivityName=".LibraryActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

        <activity
            android:name=".PlayingScreen"
            android:label="@string/screen_allSongs"
            android:parentActivityName=".LibraryActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.udacity.music.HomeActivity" />

    </application>

</manifest>