<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/screen_home" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/screen_search" />
        <activity
            android:name=".LibraryActivity"
            android:label="@string/screen_library" />
        <activity
            android:name=".ArtistActivity"
            android:label="@string/library_artists" />
        <activity
            android:name=".Artist1Songs"
            android:label="@string/artist1" />
        <activity
            android:name=".Artist2Songs"
            android:label="@string/artist2" />
        <activity
            android:name=".Artist3Songs"
            android:label="@string/artist3" />
        <activity
            android:name=".Genre"
            android:label="@string/library_genre" />
        <activity
            android:name=".AllSongs"
            android:label="@string/library_all_songs" />
        <activity
            android:name=".NowPlaying"
            android:label="@string/title_activity_now_playing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayingScreen"></activity>
    </application>

</manifest>